<div fxLayout="row"  fxFlexAlign="center" fxFlex="100">
<div fxLayout="column" style="margin:auto;">
    
  <!-- <h3 class="xOTB-jumbotron xOTB-text-center">{{ formGeneratorName }}</h3> -->
   <div *ngFor="let data of jsonFormData" [ngSwitch]="data.tag">
    <div *ngSwitchCase="'input'">
      <mat-form-field *ngIf="chechType(data)"
               appearance="outline">
          <mat-label>{{data?.label}}</mat-label>
        <input matInput
          [placeholder]="data.placeholder"
          value="{{ data.value }}"
          [type]="data.type">
      </mat-form-field> 
      <mat-radio-group
        *ngIf="data.type == 'radio'"
        aria-labelledby="example-radio-group-label"
                [(ngModel)]="selRadioValue"
      >
        <mat-radio-button
                  *ngFor="let radioValues of data.values;let i = index;"
          [value]="radioValues"
          [ngClass]="{'radio-bt':(i !== 0)}" 
        >
          {{ radioValues }}
        </mat-radio-button>
      </mat-radio-group>

 <div *ngIf="data.type == 'checkbox'">
   <div fxLayout="row" fxLayoutGap="10px">
      <div *ngFor="let checkValue of data.values" >
          <mat-checkbox>{{ checkValue }}</mat-checkbox>
        </div>
   </div>
       
      </div> 

   
    </div> 
    <mat-form-field class="mat-field-sort" *ngSwitchCase="'select'">
        <mat-label>{{ data?.label }}</mat-label>
        <mat-select [(value)]="selected">
          <mat-option>{{ data?.label }}</mat-option>
          <ng-container *ngFor="let selectValues of data.values">
            <mat-option value="selectValues"> {{ selectValues }}</mat-option>
          </ng-container>
        </mat-select>
      </mat-form-field>
      <div *ngSwitchCase="'button'">
          <div fxLayout="row">
        <button mat-button>{{ data.value }}</button>
        </div>
      </div>
   </div> 
</div> 
</div>