<div class="xOTB-card xOTB-col-sm-12 xOTB-col-md-5 xOTB-m-2 xOTB-mx-auto">
  <h3 class="xOTB-jumbotron xOTB-text-center">{{formGeneratorName}}</h3>
<div *ngFor='let data of jsonFormData' [ngSwitch]="data.tag">
	<div *ngSwitchCase="'input'">
		<div class="xOTB-form-group xOTB-form-inline">
			<label class="xOTB-col-6" [ngStyle]='data.lableStyles'>{{data?.label}}</label>
			<span 
      *ngIf='(data.type == "text") 
      || (data.type =="password") 
      || (data.type == "number") 
      || (data.type =="tel") 
      || (data.type =="email") 
      || (data.type =="date")'>
        
        <input class="xOTB-form-control" 
              [type]="data.type" 
              [placeholder]="data.placeholder" 
              value={{data.value}} [ngStyle]='data.inputStyles'>
      </span>

			<span *ngIf='data.type == "radio"' 
            class="xOTB-col-6">
        
        <span *ngFor="let radioValues of data.values">
            
            <input type="radio" 
                   value="radioValues" 
                   name='data.name' [ngStyle]='data.inputStyles'>
          {{radioValues}}
        </span>
			</span>

			<span *ngIf='data.type == "checkbox"'>
        <span *ngFor="let radioValues of data.values">
            <input type="checkbox"  
                   value="radioValues" 
                   name='data.name' [ngStyle]='data.inputStyles'>
            {{radioValues}} 
        </span>
			<span>
      </span>
			</span>
		</div>
	</div>

	<div *ngSwitchCase="'select'">
		<div class="xOTB-form-group xOTB-form-inline">
			<label class="xOTB-col-6" [ngStyle]='data.lableStyles'>{{data?.label}}</label>
			<select class="xOTB-form-control xOTB-col-6" [ngStyle]='data.inputStyles'>
      <option>{{data.label}}</option>
          <option value="selectValues" 
                  *ngFor="let selectValues of data.values">
               {{selectValues}}
          </option>
    </select>
		</div>
	</div>

	<div *ngSwitchCase="'button'">
		<div class="xOTB-form-group xOTB-col-4 xOTB-mx-auto xOTB-d-flex xOTB-justify-content-between">
			<button class="xOTB-btn xOTB-btn-primary" 
              [type]='data.type ? data.type : "button"' [ngStyle]='data.buttonStyle'>
        {{data.value}}
      </button>
		</div>
	</div>
</div>
</div>