* {box-sizing: border-box}
img {
vertical-align: middle;
max-height:100%;
}

/* Slideshow container */
.xOTB-slideshow-container {
  font-family: Verdana, sans-serif;
  max-width: 50%;
  position: relative;
  margin: auto;
  border: 0.5px solid #e5e5e5;
  box-shadow: 4px 4px 4px 0px #a19c9c;

}

/* Next & previous buttons */
.xOTB-prev{    left: 0px;}
.xOTB-prev, .xOTB-next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 1%;
  margin-top: -15px;
  color: rgb(145, 37, 37);
  font-weight: bold;
  font-size:1.5em;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  background-color: white;
}

/* Position the "next button" to the right */
.xOTB-next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.xOTB-prev:hover, .xOTB-next:hover {
  background-color: rgba(0,0,0,0.8);
  color: #ffffff;
}

/* Caption text */
.xOTB-text {
  color: #f2f2f2;
  font-size: 1em;
  padding: 1% 1%;
  position: absolute;
  bottom: 4%;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.xOTB-numbertext {
  color: #f2f2f2;
  font-size: 1em;
  padding: 1% 1%;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.xOTB-dot {
  cursor: pointer;
  height:10px;
  width: 3%;
margin:0 1%;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.xOTB-active, .xOTB-dot:hover {
  background-color: #717171;
}

/* Fading animation */
.xOTB-fade {
  -webkit-animation-name: xOTB-fade;
  -webkit-animation-duration: 1.5s;
  animation-name: xOTB-fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes xOTB-fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes xOTB-fade {
  from {opacity: .4}
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width:30%) {
  .xOTB-prev, .xOTB-next,.xOTB-text {font-size:0.5em}
}
