<div class="xOTB-slideshow-container">

<div class="xOTB-mySlides xOTB-fade" *ngFor="let data of imagesData">
  <div class="xOTB-numbertext">{{data.imageNumber}}/{{imagesData.length}}</div>
  <img src={{data.image}} style="width:100%" >
  <div class="xOTB-text">{{data.captionText}}</div>
</div>

<a class="xOTB-prev" (click)="plusSlides(-1)">&#10094;</a>
<a class="xOTB-next" (click)="plusSlides(1)">&#10095;</a>

</div>


<div style="text-align:center;margin:20px;">
  <span class="xOTB-dot" (click)="currentSlide(dotData.imageNumber)" *ngFor='let dotData of imagesData'></span> 
</div>