<div class="xOTB-slideshow-container">

<div class="xOTB-mySlides xOTB-fade" *ngFor="let data of imagesData">
  <div class="xOTB-numbertext"
  [style.color]="texColor">{{data.imageNumber}}/{{imagesData.length}}</div>
  <img src={{data.image}} style="width:100%" >
  <div class="xOTB-text" [style.color]="texColor">{{data.captionText}}</div>
</div>

<a class="xOTB-prev" (click)="plusSlides(-1)"
[style.background-color]="arrowBgColor" [style.color]="arrowColor"
>&#10094;</a>
<a class="xOTB-next" (click)="plusSlides(1)"
[style.background-color]="arrowBgColor" [style.color]="arrowColor"
>&#10095;</a>

</div>


<div style="text-align:center;margin:20px;">
  <span class="xOTB-dot" (click)="currentSlide(dotData.imageNumber);"
  #spanDot
   *ngFor='let dotData of imagesData'
   appImageDot [highlightColor]="bottomButtonSelectedColor" [defultColor]="bottomButtonColor"></span>
</div>
