.text-line {
  white-space: pre-wrap;
  margin: 0px;
  width: 100%;
  padding: 0px;
}

.mat-column-position {
  flex: 2;
}

.mat-column-Description {
  flex: 3;
  text-align: start;
}

h3 {
  text-align: start;
}

.xoTB-panel{
  background: darkgray;
}
