<h3>Excluding Selected Values in the Dropdowns Added/Removed Dynamically</h3>
<form [formGroup]="dynamicControlsForm">
  <div formArrayName="newFormControlArray">   
    <div *ngFor="let itemrow of dynamicControlsForm.controls.newFormControlArray.controls; let i=index"  [formGroupName]="i">
      <h4>Control #{{ i + 1 }}</h4>
      <div class="xOTB-options-container">
        <select (change)="changeMainKey(i);" formControlName="mainKeyChosen">
          <option selected value=''>Options</option>
          <option *ngFor='let list of testArray | excludeSelectedValue : dynamicControlsForm.controls.newFormControlArray.value : dynamicControlsForm.controls.newFormControlArray.value[i]["mainKeyChosen"]'>{{ list.mainKey }}</option>
        </select>
        <div class="xOTB-sub-option-container">
          <div *ngFor='let mainOption of testArray'>
            <select *ngIf="mainOption.mainKey === dynamicControlsForm.controls.newFormControlArray.value[i].mainKeyChosen" formControlName="subKeyChosen">
              <option selected value=''>Sub-options</option>
              <option *ngFor='let subKey of mainOption.subKeys'>Sub-option {{ subKey }}</option>
            </select>
          </div>
        </div>
      </div>
      <button class="xOTB-delete-button" [hidden]="!(dynamicControlsForm.controls.newFormControlArray.controls.length > 1 && dynamicControlsForm.controls.newFormControlArray.value[i].mainKeyChosen!=='')" (click)="deleteFormControl(i)">Delete Option</button>
  </div>
</div>
<button type="button" *ngIf='dynamicControlsForm.controls.newFormControlArray.value.length<=3' (click)="addAnotherFormControl()">Add Another Option</button><br>
</form>
<pre>{{dynamicControlsForm.value | json}}</pre>
