<form [formGroup]="dynamicControlsForm">
  <div formArrayName="newFormControlArray" [class]="containerStyle">   
    <div *ngFor="let itemrow of dynamicControlsForm.controls.newFormControlArray.controls; let i=index"  [formGroupName]="i">
      <h4 [class]="headerStyle">{{title}}</h4>
      <h4 style="display:none">Control #{{ i + 1 }}</h4>
      <div class="xOTB-options-container">
        <select (change)="changeMainKey(i,$event.target.value);" formControlName="mainKeyChosen" [class]="mainSelectorStyle">
          <option selected value='' [class]="mainSelectorStyle">Options</option>
          <option [class]="mainOptionStyle" *ngFor='let list of selectorValues | excludeSelectedValue : dynamicControlsForm.controls.newFormControlArray.value : dynamicControlsForm.controls.newFormControlArray.value[i]["mainKeyChosen"]'>{{ list.mainKey }}</option>
        </select>
        <div class="xOTB-sub-option-container">
          <div (change)="changeSubKey(i,$event.target.value);" *ngFor='let mainOption of selectorValues'>
            <select [class]="subSelectorStyle" *ngIf="mainOption.mainKey === dynamicControlsForm.controls.newFormControlArray.value[i].mainKeyChosen" formControlName="subKeyChosen">
              <option [class]="subSelectorStyle" selected value=''>Sub-options</option>
              <option [class]="subOptionStyle" *ngFor='let subKey of mainOption.subKeys'>Sub-option {{ subKey }}</option>
            </select>
          </div>
        </div>
      </div>
      <button class="xOTB-delete-button" *ngIf="extraSelectorsRequired" [hidden]="!(dynamicControlsForm.controls.newFormControlArray.controls.length > 1 && dynamicControlsForm.controls.newFormControlArray.value[i].mainKeyChosen!=='')" (click)="deleteFormControl(i,$event.target)">-</button>
  </div>
  <span><button type="button" *ngIf='dynamicControlsForm.controls.newFormControlArray.value.length<=3 && extraSelectorsRequired' (click)="addAnotherFormControl($event.target)">+</button></span><br>
</div>
</form>

