
.xOTB-options-container{
    display:inline-block;
    width:300px;
    height: 30px;
}
.xOTB-options-container select{
    width: 150px;
    height: 25px;
}
.xOTB-sub-option-container{
    display: inline-block;
}
.xOTB-sub-option-container select{
    width: 150px;
    height: 25px;
}
.xOTB-delete-button{
    width: 150px;
    height: 25px;
}
