<ul *ngIf="pager.pages && pager.pages.length" class="xOTB-pagination"  [style.color]="setFontColor">
  <li [ngClass]="{'xOTB-disabled':pager.currentPage === 1}">
      <a (click)="setPage(1)"  [style.color]="setFontColor">First</a>
  </li>
  <li [ngClass]="{'xOTB-disabled':pager.currentPage === 1}">
      <a (click)="setPage(pager.currentPage - 1)"  [style.color]="setFontColor">Previous</a>
  </li>
  <li *ngFor="let page of pager.pages" [ngClass]="{'xOTB-active':pager.currentPage === page}">
      <a (click)="setPage(page)"  [style.color]="setFontColor">{{page}}</a>
  </li>
  <li [ngClass]="{'xOTB-disabled':pager.currentPage === pager.totalPages}">
      <a (click)="setPage(pager.currentPage + 1)"  [style.color]="setFontColor">Next</a>
  </li>
  <li [ngClass]="{'xOTB-disabled':pager.currentPage === pager.totalPages}">
      <a (click)="setPage(pager.totalPages)"  [style.color]="setFontColor">Last</a>
  </li>
</ul>