.xOTB-card {
    background-color: #fff;    
    margin: 1.5rem;
    box-shadow: 0 2px 4px 2px rgba(0,0,0,.05);
}

.xOTB-card-header {
    padding: .75rem 1rem;
    margin-bottom: 0;
    background-color: #fff;
    border-bottom: 1px solid rgba(0,0,0,.3);
}
.xOTB-card-body {
padding: 1rem;
 }
.xOTB-pagingContent{
	min-height:320px;
}
