<!--The content below is only a placeholder and can be replaced.-->
<app-header-edge></app-header-edge>
<div class="xOTB-main-div" [style.height.px]="height">
  <div class="xOTB-nav-div">
    Navigation
  </div>
  <div class="xOTB-actions-div">
    <div class="xOTB-actions-nav-div">
      <div class="xOTB-actions-btn-div" (click)="onActionButtonClick('demo')"
        [ngClass]="{'xOTB-actions-btn-click-div':isDemo}">
        Demo
      </div>
      <div class="xOTB-actions-btn-div" (click)="onActionButtonClick('documentation')"
        [ngClass]="{'xOTB-actions-btn-click-div':isDocumentation}">
        Documentation
      </div>
      <div class="xOTB-actions-btn-div" (click)="onActionButtonClick('others')"
        [ngClass]="{'xOTB-actions-btn-click-div':isOthers}">
        Others
      </div>
      <div class="xOTB-actions-btn-div" (click)="onActionButtonClick('more')"
        [ngClass]="{'xOTB-actions-btn-click-div':isMore}">
        More
      </div>
    </div>
    <div class="xOTB-actions-btn-content-div">
      <h1 *ngIf="isDemo">Demo Here</h1>
      <h1 *ngIf="isDocumentation">Documentation Here</h1>
      <h1 *ngIf="isMore">More Here</h1>
      <h1 *ngIf="isOthers">Others Here</h1>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
