<!--The content below is only a placeholder and can be replaced.-->
<app-header-edge></app-header-edge>
<div class="xOTB-main-div">
  <div class="xOTB-nav-div">
    <div class="xOTB-button-div" (click)="onSelectTab('multiSelvalue')"
      [ngClass]="{'xOTB-button-div-selected':isMultiSelValue}">
      Multi Select Value
    </div>
    <div class="xOTB-button-div" (click)="onSelectTab('accordiongroup')"
      [ngClass]="{'xOTB-button-div-selected':isAcordionGroup}">
      Acordion Group
    </div>
    <div class="xOTB-button-div" (click)="onSelectTab('modeldialog')"
      [ngClass]="{'xOTB-button-div-selected':isModelDialog}">
      Model Dialog
    </div>
    <div class="xOTB-button-div" (click)="onSelectTab('speedometer')"
      [ngClass]="{'xOTB-button-div-selected':isSpeedoMeter}">
      Speedo Meter
    </div>
    <div class="xOTB-button-div" (click)="onSelectTab('dynamicform')"
      [ngClass]="{'xOTB-button-div-selected':isDynamicForm}">
      Dynamic Form
    </div>
    <div class="xOTB-button-div" (click)="onSelectTab('formcreation')"
      [ngClass]="{'xOTB-button-div-selected':isFormCreation}">
      Form Creation
    </div>
    <div class="xOTB-button-div" (click)="onSelectTab('imageslider')"
      [ngClass]="{'xOTB-button-div-selected':isImageSlider}">
      Image Slider
    </div>
    <div class="xOTB-button-div" (click)="onSelectTab('indetermintree')"
      [ngClass]="{'xOTB-button-div-selected':isIndetermineTree}">
      Indetermine Tree
    </div>
    <div class="xOTB-button-div" (click)="onSelectTab('pagination')"
      [ngClass]="{'xOTB-button-div-selected':isPagination}">
      Pagination
    </div>
    <div class="xOTB-button-div" (click)="onSelectTab('contextmenu')"
      [ngClass]="{'xOTB-button-div-selected':isContextMenu}">
      Context Menu
    </div>
  </div>
  <div class="xOTB-actions-div">
    <div class="xOTB-actions-nav-div">
      <div class="xOTB-actions-btn-div" (click)="onActionButtonClick('demo')"
        [ngClass]="{'xOTB-actions-btn-click-div':isDemo}">
        Demo
      </div>
      <div class="xOTB-actions-btn-div" (click)="onActionButtonClick('documentation')"
        [ngClass]="{'xOTB-actions-btn-click-div':isDocumentation}">
        Documentation
      </div>
      <div class="xOTB-actions-btn-div xotb-disabledDiv" (click)="onActionButtonClick('others')"
        [ngClass]="{'xOTB-actions-btn-click-div':isOthers}">
        Others
      </div>
      <div class="xOTB-actions-btn-div xotb-disabledDiv" (click)="onActionButtonClick('more')"
        [ngClass]="{'xOTB-actions-btn-click-div':isMore}">
        More
      </div>
    </div>
    <div class="xOTB-actions-btn-content-div">
      <div *ngIf="isDemo" class="xotb-demo">
        <app-multi-select-value *ngIf="isMultiSelValue" class="xOTB-margin"></app-multi-select-value>
        <app-accordion-group *ngIf="isAcordionGroup" class="xOTB-margin"></app-accordion-group>
        <app-model *ngIf="isModelDialog" class="xOTB-margin"></app-model>
        <app-pagination *ngIf="isPagination" class="xOTB-margin"></app-pagination>

        <ng-container *ngIf="isSpeedoMeter">
          <h2>Sample default demo</h2>

          <app-speedo-meter class="xOTB-margin" (selectedValue)="onSpeedMeter($event)"></app-speedo-meter>

          <h2>Sample custom demo</h2>

          <app-speedo-meter class="xOTB-margin" [speedoMeterColor]="'red'" [wheelColor]="'green'" [max]="300"
            (selectedValue)="onSpeedMeter($event)"></app-speedo-meter>

        </ng-container>


        <ng-container *ngIf="isDynamicForm">
          <h2>Sample default demo</h2>

          <app-dynamic-form (formValue)="onAppDynamicForm($event);" class="xOTB-margin"></app-dynamic-form>

          <h2>Sample custom demo</h2>

          <app-dynamic-form [btnColor]="'green'" (formValue)="onAppDynamicForm($event);" class="xOTB-margin">
          </app-dynamic-form>

        </ng-container>

        <ng-container *ngIf="isFormCreation">
          <h2>Sample default demo</h2>

          <app-form-generator [jsonFormData]='formJson' (btnEvent)="onDynamicFormButtonInfor($event)">
          </app-form-generator>

          <h2>Sample custom demo</h2>

          <app-form-generator [jsonFormData]='customFormJson' (btnEvent)="onDynamicFormButtonInfor($event)">
          </app-form-generator>
        </ng-container>


        <ng-container *ngIf="isImageSlider">
          <h2>Sample default demo</h2>

          <app-image-slider [imagesData]='imagesData' (currentImage)="onImageSelected($event);">
          </app-image-slider>

          <h2>Sample custom demo</h2>

          <app-image-slider [imagesData]='imagesData' (currentImage)="onImageSelected($event);" [arrowColor]="'black'"
            [arrowBgColor]="'green'" [texColor]="'blue'">
          </app-image-slider>

        </ng-container>

        <app-indetermine-tree *ngIf="isIndetermineTree" class="xOTB-margin"></app-indetermine-tree>
        <app-context-root *ngIf="isContextMenu" class="xOTB-margin"></app-context-root>
      </div>
      <div *ngIf="isDocumentation">
        <!--pagination-->
        <app-pagination-doc *ngIf="isPagination" class="xOTB-margin"></app-pagination-doc>
        <!--Pagination end here-->
<!--Context Menu-->
<div class="" *ngIf="isContextMenu">
    <pre class="line-numbers compodoc-sourcecode"><code class="language-typescript">
        <div class="headcls">Description</div>
        <div class="blackbody">A context menu (also called pop up or pop-up menu) is a menu in a graphical user interface (GUI) that appears upon user interaction, such
as a right-click mouse operation. 
         </div>
       <div class="headcls">Example Code</div>
       <div class="blackbody"> &#60;app-context-menu [data]=data (optionClick)="click($event)" (closed)="click($event)"&#62;&#60;/app-context-menu&#62;
        </div> 
          <div class="headcls">Variable Description</div>
        <table class="table-bordered">
          <thead>
          <tr>
            <th>Name</th>
            <th>Type</th>
            <th>Default</th>
            <th>Description</th>
          </tr>
          </thead>
          <tbody>
          <tr>
              <td>[data] </td>
              <td>object</td>
              <td></td>
              <td>array of object for context menu option </td>
          </tr>              
            </tbody>
        </table>
          <div class="headcls">Methods Description</div>
        <table class="table-bordered">
          <thead>
          <tr>
            <th>Name</th>
            <th>Type</th>
            <th>parameters</th>
            <th>Description</th>
          </tr>
          </thead>
          <tbody>
          <tr>
              <td>  (optionClick)</td>
              <td>function</td>
              <td>event</td>
              <td>Callback function</td>
          </tr>
          <tr>
              <td>(closed)</td>
              <td>function</td>
              <td>event</td>
              <td>function call Trigger when menu closed</td>
          </tr>
            <tr>
                <td>ngOnInit()  </td>
                <td>function</td>
                <td>Void</td>
                <td>initlize the variable once page loads</td>
              </tr>
             
            </tbody>
        </table>
</code></pre>
</div>
<!--Context Menu End-->
<!--Indetermine Tree-->
<div class="" *ngIf="isIndetermineTree">
    <pre class="line-numbers compodoc-sourcecode"><code class="language-typescript">
        <div class="headcls">Description</div>
        <div class="blackbody">Indetermine Tree Highlights In this mode when the user clicks an item its children or sub items also become. 
         </div>
       <div class="headcls">Example Code</div>
       
       <div class="blackbody">&#60;app-tree-node [node]="tree" image1="green.png" image2="../../assets/red.png" getColorCode="red" (selectEvents)="handleSelection( $event )"
    [selectedNode]="selectedTreeNode"&#62; &#60;/app-tree-node&#62;
       </div> 
          <div class="headcls">Variable Description</div>
        <table class="table-bordered">
          <thead>
          <tr>
            <th>Name</th>
            <th>Type</th>
            <th>Default</th>
            <th>Description</th>
          </tr>
          </thead>
          <tbody>
          <tr>
              <td>[node] </td>
              <td>object</td>
              <td></td>
              <td>Array of object for making a tree option </td>
          </tr> 
          <tr>
              <td>image1 </td>
              <td>string
              </td>
              <td></td>
              <td>Pass the primary image url for the tree </td>
          </tr> 
          <tr>
              <td>image2 </td>
              <td>string
              </td>
              <td></td>
              <td>Pass the secondatory image url for the tree </td>
          </tr> 
          <tr>
              <td>getColorCode </td>
              <td>string
              </td>
              <td></td>
              <td>Pass the color for the tree strcture</td>
          </tr>                       
            </tbody>
        </table>
          <div class="headcls">Methods Description</div>
        <table class="table-bordered">
          <thead>
          <tr>
            <th>Name</th>
            <th>Type</th>
            <th>parameters</th>
            <th>Description</th>
          </tr>
          </thead>
          <tbody>
          <tr>
              <td>(selectEvents)</td>
              <td>function</td>
              <td>event</td>
              <td>Callback function</td>
          </tr>
          <tr>
              <td>[selectedNode]</td>
              <td>function</td>
              <td>event</td>
              <td>function call Trigger when node selected</td>
          </tr>
            <tr>
                <td>ngOnInit()  </td>
                <td>function</td>
                <td>Void</td>
                <td>initlize the variable once page loads</td>
              </tr>
             
            </tbody>
        </table>
</code></pre>
</div>
<!--Indetermine Tree End-->
      </div>
      <div>

      </div>
      <!-- <h1>Demo Here</h1>
      <h1>Documentation Here</h1> -->
      <!-- <h1 *ngIf="isMore">More Here</h1>
      <h1 *ngIf="isOthers">Others Here</h1> -->
    </div>
  </div>
</div>
<router-outlet></router-outlet>
