<!-- <div class="xOTB-accordionPanel">
    <div class="xOTB-titleBar" (click)="toggle.emit()">
    <span class="xOTB-headerIcon"><i id ="iconclass" class="xOTB-icon"></i></span>
    <span class="xOTB-title">{{title}} - {{description}}</span>
    <span class="xOTB-expandCollapseIcon"><i id ="expandcollpaseclass" [ngClass]="{'xOTB-close':opened,'xOTB-open':!opened}"></i></span>
    </div>
    <div class="xOTB-body" [ngClass]="{'xOTB-hidden': !opened}">
      <ng-content></ng-content>
    </div>
  <div> -->


      <mat-expansion-panel class="xoTB-panel">
          <mat-expansion-panel-header>
              <mat-panel-title>
                <h4>{{title}}</h4>
              </mat-panel-title>
            </mat-expansion-panel-header>
          <ng-content></ng-content>
        </mat-expansion-panel>