<style>
@keyframes movement {
    from {
      transform: rotate(-45deg);
    }
    to {
      transform: rotate('{{readingSpeed}}' + deg);
    }
  }

  @keyframes niddle {
    from {
      transform: rotate(-90deg);
    }
    to {
      transform: rotate('{{niddleSpeed}}'+ deg);
    }
  }
</style>

  
<div class="xOTB-speedometerWrap">
  <h1>Speedometer</h1>
  <div class="xOTB-speedometer">
    <div class="xOTB-speedometerReading" 
      [style.transform]="'rotate(' + readingSpeed  + 'deg)'">
    </div>
    <div class="xOTB-speedometerReadingBase"></div>
    <div class="xOTB-speedometerCentreCircle">
      <span [style.transform]="'rotate(' + niddleSpeed  + 'deg)'"></span>
    </div> 
    <div class="xOTB-speedometerBase"></div>   
  </div>
  <div class="xOTB-meterRead">
    <div class="xOTB-meterValue">{{ speedScore }}</div>
    <input type="number" min='0' max='100' [(ngModel)]='speedScore' class="xOTB-form-control" (keyup)="getSpeed(speedScore)" (click)="getSpeed(speedScore)">
    <br/>
    <span class="xOTB-range">(Min: 0 | Max: 100)</span>
  </div>    
</div>
