app-quick-date-picker {
    position: relative;
   top: -5px;
}

.fit-to-center{
    text-align: center;
}
.parent {
    border: 1px solid black;
    padding: 20px;
    font-weight: bold;
    font-size: 16px;
}