<div class="xOTB-container">
    <span *ngIf="node.children.length" (click)="toggleChildren(node)" class="xOTB-star">
      <img [src]="'../../assets/'+image1" *ngIf="!node.visible" width="20px;" height="20px" class="xOTB-green">
      <img [src]="'../../assets/'+image2" *ngIf="node.visible" width="20px;" height="20px" class="xOTB-red"> 
    </span>  
  <input type="checkbox" [value]="node.checked" class="xOTB-check" #checkbox  [(ngModel)]="node.checked" (click)="selectEvents.emit(node)" (click)="checkParent(node,$event)" >
  <label class="xOTB-label"  [style.color]="getColorCode" >{{ node.label }}</label> 
  <ng-container *ngIf="node.visible">
    <div *ngIf="node.children.length" class="xOTB-children">
      <ng-template ngFor let-child [ngForOf]="node.children">  
       <!-- <app-tree-node 	 image1="../../assets/green.png" image2="../../assets/red.png" getColorCode="red" (selectEvents)="selectEvents.emit($event)" 	[selectedNode]="selectedNode" [node]="child"> </app-tree-node>-->
       <app-tree-node [image1]="image1" [image2]="image2" [getColorCode]="getColorCode" (selectEvents)="selectEvents.emit($event)" 	[selectedNode]="selectedNode" [node]="child"> </app-tree-node>
      </ng-template>
    </div>
  </ng-container>
</div>